mkdocs>=1.6,<2
mkdocs-api-autonav
mkdocs-material
mkdocstrings-python
mkdocs-gen-files
mkdocs-awesome-nav
mkdocs-glightbox
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
mkdocs-static-i18n
regex
ruff==0.9.4
mdformat==0.7.22
mdformat-tables==1.0.0
